#math-panel {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 764px;
    background: linear-gradient(180deg, #00000033, #ffffff4e); /* Degradado de fondo */
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;

    gap: 0.3rem;
    user-select: none;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del panel */

    transition: all 0.5s ease-in-out;
    z-index: 99;
}

#math-field{
}

.math-button, .math-p {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 50/32;
    height: 32px;
    border-radius: 5px;
    background-color: #ffffff; /* Color de fondo de los botones */
    font-size: 22px;
    font-weight: bold;
    color: #000000b5; /* Color del texto de los botones */
    cursor: pointer;
    transition: all 0.2s;
}

.math-button:hover{
    background-color: #007bff; /* Color de fondo al pasar el ratón */
    color: #ffffff;
    transform: scale(1.3);

    img{
        filter: invert(1) brightness(5);

    }
    
}
.math-p:hover {
    background-color: #007bff;
    color: #ffffff;
}

.math-button:active {
    background-color: #0056b3; /* Color de fondo al hacer clic */
    color: #ffffff;
    transform: scale(1.1);
}

img{
    width:28px;
}