<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bisección</title>

    <!--Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Importa Mathquill -->
    <link rel="stylesheet" href="/static/matquill/mathquill.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='styleKeyboard.css' ) }}?v={{ time }}">
    
    <!-- Script Base JS -->
    <script src="/static/funciones.js" async></script>


</head>

<body>
    {% block keyboard %}
    {{ keyboard_content | safe }}
    {% endblock %}


    <h2>Método de Bisección</h2>
    <div class="content">
        <div class="main">
            <div class="descripcion">
                <p>Ingrese los datos para calcular la raiz de la funcion</p>
            </div>
            <form action="/unidad2/biseccion" method="POST">
                <div>
                    <p>Función: <span id="math-field"></span></p>
                    <p><span id="latex"></span></p>
                </div>

                <label for="a">Valor de a:</label>
                <input type="number" step="any" name="a" required>
                <br><br>

                <label for="b">Valor de b:</label>
                <input type="number" step="any" name="b" required>
                <br><br>

                <label for="tol">Tolerancia:</label>
                <input type="number" step="any" name="tol" required>
                <br><br>

                <button type="submit">Calcular</button>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/static/matquill/mathquill.js"></script>
    <script type="text/javascript">
        MQ = MathQuill.getInterface(MathQuill.getInterface.MAX);

        var latex = $('#math-field').bind('keydown keypress', function () {
            var prev = latex.val();
            setTimeout(function () {
                var now = latex.val();
                if (now !== prev) mq.latex(now);
            });
        });
        var mq = MQ.MathField($('#latex')[0], {
            autoSubscriptNumerals: true,
            autoCommands:
                'alpha beta sqrt theta phi pi tau nthroot cbrt prod int ans percent mid square',
            autoParenthesizedFunctions: 'sin cos',
            handlers: {
                edit: function () {
                    if (!latex.is(':focus')) latex.val(mq.latex());
                },
            },
        });
        latex.val(mq.latex());
    </script>

     <!--Script de teclado-->
     <script defer>
        $(document).ready(function () {
            var MQ = MathQuill.getInterface(2); // for backcompat
            var mathFieldSpan = document.getElementById('math-field');
            var latexSpan = document.getElementById('latex');

            var mathField = MQ.MathField(mathFieldSpan, {
                spaceBehavesLikeTab: true, // configurable
                handlers: {
                    edit: function () { // useful event handlers
                        latexSpan.textContent = mathField.latex(); // simple API
                    }
                }
            });

            // Añadir funcionalidad a los botones del panel matemático
            $('.math-button').on('click', function () {
                var symbol = $(this).data('symbol');
                mathField.write(symbol);
                mathField.focus({ focusVisible: true });
            });

        });
    </script>
    
</body>
</html>