



{% block keyboard %}
    <div id="math-panel" style="bottom: -100px; opacity: 0; transform: scale(0.8); display: none;">
        <div class="math-button" data-symbol="x">x</div>
        <div class="math-button" data-symbol="y">y</div>
        <div class="math-button" data-symbol="z">z</div>
        <div class="math-button" data-symbol="\pi">𝜋</div>
        <div class="math-button" data-symbol="e">𝑒</div>
        <div class="math-button" data-symbol="^{2}"><img src="/static/img/cuadrado.svg" ></div>
        <div class="math-button" data-symbol="^{}"><img src="/static/img/exponencial.svg"></div>
        <div class="math-button" data-symbol="\sqrt{}"><img src="/static/img/raiz.svg"></div>
        <div class="math-button" data-symbol="\sqrt[]{}"><img src="/static/img/raiz2.svg"></div>
        <div class="math-button" data-symbol="\frac{}{}"><img src="/static/img/fracion.svg"></div>
        <div class="math-button" data-symbol="\left (  \right )">( )</div>
        <div class="math-button" data-symbol="\sin\left (  \right )">sin</div>
        <div class="math-button" data-symbol="\cos\left (  \right )">cos</div>
        <div class="math-button" data-symbol="\tan \left (  \right )">tan</div>
        <div class="math-button" data-symbol="\cot \left (  \right )">cot</div>
        <div class="math-button" data-symbol="\csc \left (  \right )">csc</div>
        <div class="math-button" data-symbol="\sec \left (  \right )">sec</div>
        <div class="math-button" data-symbol="\sin^{-1}\left (  \right )">sin⁻¹</div>
        <div class="math-button" data-symbol="\cos^{-1}\left (  \right )">cos⁻¹</div>
        <div class="math-button" data-symbol="\tan^{-1}\left (  \right )">tan⁻¹</div>
        <div class="math-button" data-symbol="\cot^{-1}\left (  \right )">cot⁻¹</div>
        <div class="math-button" data-symbol="\csc^{-1}\left (  \right )">csc⁻¹</div>
        <div class="math-button" data-symbol="\sec^{-1}\left (  \right )">sec⁻¹</div>
        <div class="math-button" data-symbol="\ln \left (  \right )">ln</div>
        <div class="math-button" data-symbol="\log_{10}\left (  \right )"><p class="math-p">log<sub>10</sub></p></div>
        <div class="math-button" data-symbol="\log_{}\left (  \right )"><img src="/static/img/logbase.svg"></div>
        <div class="math-button" data-symbol="\log_{e}\left (  \right )"><img src="/static/img/CodeCogsEqn.jpg"></div>
        <div class="math-button" data-symbol="\left (  \right )">()</div>
        <div class="math-button" data-symbol="\int ">∫</div>
        <div class="math-button" data-symbol="\int \int \int ">∫∫∫</div>
        <div class="math-button" data-symbol="\frac{\mathrm{d} }{\mathrm{d} x}"><img src="/static/img/derivadadx.svg" alt=""></div>
        <div class="math-button" data-symbol="0">0</div>
        <div class="math-button" data-symbol="1">1</div>
        <div class="math-button" data-symbol="2">2</div>
        <div class="math-button" data-symbol="3">3</div>
        <div class="math-button" data-symbol="4">4</div>
        <div class="math-button" data-symbol="5">5</div>
        <div class="math-button" data-symbol="6">6</div>
        <div class="math-button" data-symbol="7">7</div>
        <div class="math-button" data-symbol="8">8</div>
        <div class="math-button" data-symbol="9">9</div>
        <div class="math-button" data-symbol="+">+</div>
        <div class="math-button" data-symbol="-">-</div>
        <div class="math-button" data-symbol="\times ">*</div>
        <div class="math-button" data-symbol="\div ">÷</div>
         
   
        <!-- Añade más botones según sea necesario -->
    </div>
{% endblock %}
